[submodule "types/argparse"]
	path = types/argparse
	url = https://github.com/goldenstein64/argparse-definitions.git
[submodule "types/pl"]
	path = types/pl
	url = https://github.com/goldenstein64/pl-definitions.git
